/*--------------------------------------------*/
/*---- WATS 3010: styles for 3 page site -----*/
/*--------------------------------------------*/

body
{
  font-family: sans-serif;
}

header
{
  background-color: #6f7782;

  text-align: center;
  padding: 20px;
  
}


nav ul
{
  display: inline-block;
  height: 50px;
  width: 90%;
  
  text-align: center;
  
  background-color: #3d3f42;
  
  padding: 10px;
  
 
}


nav ul li
{
  display: inline-block;
  list-style-type: none;
 
}

nav ul li a
{
  padding: 80px;
  text-decoration: none;
}
.active
{
  color: lightgray;
}
 

aside 
{
  float: right;
  background-color: #6f7782;
  width: 300px;
  padding: 20px;
  margin: 10px;
}

figure
{
  float: left;
  width: 250px;
}
img
  {
  width: 200px;
  height: auto;
  border-style: double;
  border-width: 10px;
    border-color: #231c15;
      
  
   
  margin: 18px; 
  
  }
figcaption
{
  font-style: italic;
  font-size: smaller;
}



section 
{
  background-color: lightgray;
  padding: 30px;
  font-family: serif;
}

section h2
{
  
  position: relative;
  left: 3%;
}

table 
{
    background-color: whitesmoke;
  border-collapse: collapse;
    width: 50%;
    position: relative;
  left: 25%;
    
}

table, th, td
{
    border: 1px solid black;
    padding: 10px;
}
th
{
  text-align: left;
  }

.poem li
{
  display: block;
  position: relative;
  left: 37%;
  
  list-style-type: none;
  font-family: serif;
  line-height: 1.6;

}


footer
{
  background-color: lightgoldenrodyellow;
}



